@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Oxygen:wght@300&family=Raleway:ital,wght@0,400;0,600;1,100&display=swap');

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Oxygen;
   /* background-color: #f5f8f8; */
    /*  */
    background: linear-gradient(to right, #fd943b, #ffed9f);
    margin: 2%;
    height: 100%
}
/*----------*/

/* Header */

.header{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid #333;

}

.header-navbar{

    display: flex;
    gap: 0.8%;

}

.header-navbar a{
    margin-top: 9%;
    text-decoration: none;
    font-size: x-large;

}

.header-navbar a:hover{
    font-weight: bold;

}

.header-navbar a:visited {
    color: black;
}

.header-navbar a.active {
    font-weight: bold; /* Set the bold style for the active link */
}

.header-name{
    font-family: Nabla;
    font-size: xxx-large;
}

.logout{
    margin-top: 9%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: medium;
    border-color: #333333;
    border: 3px solid;
    cursor:pointer;
    line-height: 1%;

}

.logout:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
}

/*----------*/

/* Main */

main{
    position: relative;
    margin-top: 5%;
}

/*----------*/

/* Feed */

.cargando{
    position: absolute;
    text-align: center;


}

.endPageRef{
    height: 0;
    overflow: hidden;
}

.cards{

    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin: 1% auto;
    justify-content: center;

}

.cards__card{

    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cards__card:hover{
    animation-delay: 0.25s;
    transform: scale(1.1);
    box-shadow: 0 18px 18px rgba(0.2, 0.2, 0.2, 0.2);
    margin-bottom: 5%;

}


.cards__card__photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}

.cards__card__info{
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 6px;

}

.cards__card:hover .cards__card__info {
    display: block;
    opacity: 1;

}


.like-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #d0829c;
    clip-path: polygon(
            50% 15%, 60% 5%,
            75% 15%, 75% 30%,
            50% 50%, 25% 30%,
            25% 15%, 40% 5%
    );


}

.like-button:hover{
    transform: scale(2);
}

.heart:active {
    background-color: #da376d;
    box-shadow: 0 5px #666;
    transform: scale(3);

}

/*----------*/


/* Formularios */

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    width: 30%;
    margin: 2% auto;
    height: 500px;

}

.form h1 {
    font-family: Nabla ;
    font-size: 120px;
}

.form__input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;

}

.form__input--password{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    -webkit-text-security: disc;

}

.form__button{
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
}

.form__button:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}

/* Formularios : Login*/

.article-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.h3-custom {
    font-weight: bolder;
    font-size: x-large;
    margin: 0.5%;
    text-decoration: underline;

}

/* Formularios: Register*/

.form__input--date{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: Oxygen;
    color: #666666;
    width: 70%;


}

/*----------*/



/* LandPage */

.section--landpage{
    margin: 2%;
    display: flex;


}

.article-login{
    display: inline-block;
    margin-left: 8%;
}

.section__h1--landpage{
    font-family: Nabla;
    font-size: 800%;
    width: 65%;

}

.section__h1--landpage--v2{
    margin-left: 0.4%;
    font-size: xxx-large;
    font-weight: bold;
    display: block;

}


.section__p--landpage2{

    font-size: xx-large;
    width: 60%;
    text-align: left;
    margin-left: 0.4%;


}


.img--landpage{

    margin-top: 5%;
    height: 200px;
    transition: transform 0.3s ease-in-out;
    opacity: 90%;
    position: absolute;
    box-shadow: #333333;
    margin-left: 0.4%;
    overflow: hidden

}


.img--landpage:hover{
    transform: scale(1.1);
    opacity: 100%;

}

.article-login2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;


}


.img--landpage--v2{
    width: 600px;
    height: 400px;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 7%;

}

.primary-button--v2{
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
    display: block;
    margin-left: 39%;
}

.primary-button--v2:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}


.primary-button--v3{
    padding: 10px;
    border: 4px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
    display: block;
    margin-left: 25%;
}

.primary-button--v3:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 5px solid;
}


/*----------*/
/*----------*/

/* Primary Button */

.primary-button {
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
}

.primary-button:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}