@import url('https://fonts.googleapis.com/css2?family=Nabla&family=Oxygen:wght@300&family=Raleway:ital,wght@0,400;0,600;1,100&display=swap');

/* General */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Oxygen;
   /* background-color: #f5f8f8; */
    /*  */
    background: linear-gradient(to right, #fd943b, #ffed9f);
    margin: 2%;
    height: 100%
}
/*----------*/

/* Header */

.header{
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 80px;
    border-bottom: 2px solid #333;

}

.header__navbar{

    display: flex;
    justify-content: center;

}

.header__navbar a{
    padding-top: 9%;
    padding-right: 8px;
    text-decoration: none;
    font-size: x-large;


}

.header__navbar a:last-child {
    margin-right: 0;
}


.header__navbar a:hover{
    font-weight: bold;

}

.header__navbar a:visited {
    color: black;
}

.header__navbar a.active {
    font-weight: bold; /* Set the bold style for the active link */
}

.header__name{
    font-family: Nabla;
    font-size: xxx-large;
    white-space: nowrap;
}

.logout{
    margin-top: 9%;
    height: 35px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: medium;
    border-color: #333333;
    border: 3px solid;
    cursor:pointer;
    line-height: 1%;

}

.logout:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
}

/*----------*/

/* Main */

main{
    position: relative;
    /* padding-top: 5%; */
}

/*----------*/

/* Feed */

.cargando{
    position: absolute;
    text-align: center;


}

.endPageRef{
    height: 0;
    overflow: hidden;
}

.cards{

    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin: 1% auto;
    justify-content: center;

}

.cards__card{

    text-align: center;
    overflow: hidden;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.cards__card:hover{
    animation-delay: 0.25s;
    transform: scale(1.1);
    box-shadow: 0 18px 18px rgba(0.2, 0.2, 0.2, 0.2);
    margin-bottom: 5%;

}


.cards__card__photo{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 5%;
}

.cards__card__info{
    display: none;
    opacity: 0;
    transition: opacity 0.8s ease;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 6px;

}

.cards__card:hover .cards__card__info {
    display: block;
    opacity: 1;

}


.like-button {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}

.heart {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #d0829c;
    clip-path: polygon(
            50% 15%, 60% 5%,
            75% 15%, 75% 30%,
            50% 50%, 25% 30%,
            25% 15%, 40% 5%
    );


}

.like-button:hover{
    transform: scale(2);
}

.heart:active {
    background-color: #da376d;
    box-shadow: 0 5px #666;
    transform: scale(3);

}

/*----------*/


/* Formularios */

.form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10%;
    width: 30%;
    margin: 2% auto;
    height: 500px;

}

.form h1 {
    font-family: Nabla ;
    font-size: 120px;
}

.form__input{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;

}

.form__input--password{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    -webkit-text-security: disc;

}

.form__button{
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
}

.form__button:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}

/* Formularios : Login*/

.article-login{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


.h3-custom {
    font-weight: bolder;
    font-size: x-large;
    margin: 0.5%;
    text-decoration: underline;

}

/* Formularios: Register*/

.form__input--date{
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    font-family: Oxygen;
    color: #666666;
    width: 100%;
    height: 140%;

}

input[type="checkbox"]{
    margin-left: 15px;
    transform: scale(2);


}

.label-checkbox--container{
    position: relative;
    display: flex;
    flex-direction: row;

}

.form__input--number{
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    width: 100%;
}

/*----------*/



/* LandPage */

.landpage{
    padding: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;


}

.landpage__article{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 8%;
}


.landpage__article__h1{
    font-family: Nabla;
    font-size: 6vw;
    width: 65%;
    min-width: 400px;



}

.landpage__article__h1--v2{

    font-size: 2.5vw;
    font-weight: bold;
    display: flex;
    justify-content: left;

}

.landpage__article__p{

    width: 70%;
    text-align: left;
    font-size: 1.8vw;



}


.landpage__article--v2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-right: 7%;

}

.landpage__article__img{
    width: 29vw;
    height: 19vw;
    min-height: 200px;
    min-width: 300px;
    object-fit: cover;
    border-radius: 5%;
    margin-top: 7%;

}


.landpage__article__buttons-container{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 2%;
    width: 100%;
    padding-right: 7%;
}


.primary-button--v2{
    margin-top: 2%;
    margin-left: 20%;
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
    background: linear-gradient(to right, #fd943b, #ffed9f);


}

.primary-button--v2:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}


.primary-button--v3{
    padding: 10px;
    border: 4px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
    background: linear-gradient(to right, #fd943b, #ffed9f);


}

.primary-button--v3:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 5px solid;
}

.landpage__article__img--detail{

    height: 200px;
    transition: transform 0.3s ease-in-out;
    opacity: 100%;
    box-shadow: #333333;
    margin-left: 7%;
    vertical-align: bottom;
    z-index: 1;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 0;



}


.landpage__article__img--detail:hover{
    transform: scale(1.1);
    opacity: 100%;

}

/* Profile */

.profile{
    padding: 3%;
}

.profile__card{
    margin-top: 3%;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #ffffff;
    width: 40%;
    border-radius: 50px;
    box-shadow: 5px 5px 5px rgba(51, 51, 51, 0.55);


}

.profile__card:hover{
    transform: scale(1.1);
}


.profile__card__p{
    font-size: xx-large;
}

.profile__card__p:hover{
    font-size: xx-large;
    font-weight: bold;

}


@keyframes girar {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.profile__card__img{

    width: 6vw;
    height: 7.5vw;
}

.profile__card__img:hover{
    animation: girar 5s infinite linear;
}

.profile__favs{
    width: 75%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 25px;
    margin: 1% auto;
    justify-content: center;
}

.profile__favs__h1{
    margin-top: 5%;
    padding: 2%;
    justify-content: center;
    align-items: center;
    font-size: xxx-large;
    color: #34221d;
    border: 2px solid #000
}




/*----------*/

/*----------*/

/* Errors */

.error__p{
    color: white;
    font-weight: bold;
    background-color: rgba(255, 0, 0, 0.54);
    margin-bottom: 1%;
    width: 60%;
    text-align: center;

}

.modal-error{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 8px;
    font-size: 16px;
    max-width: 300px;
    text-align: center;
    z-index: 1000;
}

/* Form Contact */


textarea {
    padding: 1%;
    margin-bottom: 2%;
    max-width: 100%;
    min-width: 100%;
    max-height: 20%;
    min-height: 20%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    font-size: x-large;
}




/*----------*/

/*----------*/

/* Primary Button */

.primary-button {
    padding: 10px;
    border: 2px solid #fd943b;
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: xx-large;
    cursor:pointer;
}

.primary-button:hover{
    background: linear-gradient(to right, #fd943b, #ffed9f);
    font-weight: bold;
    border-color: #333333;
    border: 3px solid;
}